body {
  background-color: #242f45;
  color: white;
   font-family: 'Oswald', sans-serif;
   text-align: center;
}
table {
  text-align: center;
  margin: 20px auto;
}
th {
  margin: 30px auto;
  width: 50px;
}
